@model IEnumerable<BusesWebApplication.Route>

@{
    ViewData["Title"] = "Маршрути";
}

<h1>Маршрути</h1>

<p>
    <a asp-action="Create">Додати маршрут</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Кількість станцій
            </th>
            <th>
                Перша станція
            </th>
            <th>
                Остання станція
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoutesStations.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoutesStations.First().Station.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoutesStations.Last().Station.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
