@model BusesWebApplication.Timetable

@{
    ViewData["Title"] = "Деталі";
}

<h1>Інформація про рейс</h1>

<div>
    <h4>Рейс</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedDeparture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedDeparture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualDeparture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualDeparture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedArrival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedArrival)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualArrival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualArrival)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bus.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Driver.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Route)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Route.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripStatus.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагування</a> |
    <a asp-action="Index">Назад до розкладу</a>
</div>
