@model IEnumerable<BusesWebApplication.Station>

@{
    ViewData["Title"] = "Станції у місті";
}

<h1>Станції у місті @ViewBag.CityName</h1>

<p>
    @Html.ActionLink("Додати нову станцію", "Create", new { CityId = @ViewBag.CityId })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="Cities" asp-action="Index" asp-route-countryId=@ViewBag.CountryId>Назад до міст</a>
</div>
